.link_reset {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.css-1nvnyqx-MuiPaper-root-MuiDrawer-paper {
  background: transparent !important;
  box-shadow: none !important;
}
